.UploadPost {

    display: grid;
    margin-top: 0;
    margin-left: 0.2%;
    font-size: 0.8em;

    color: white;
}

.content {
    margin-top: 5%;
    align-self: center;
    justify-self: center;

    max-width: 550px;
    background-color: #2c2f34;
    border: 1.5px solid #f7971d;
    border-radius: 15px;
    padding: 1%;
    font-size: 0.8em;
    padding-top: 10px;
}

.logoSmall {
    width: 193px;
    float: left;
    margin-left: 15px;

}

input {
    background-color: #212121;
    color: white;
    border: 1.5px solid black;

}

input:focus {
    outline: none;
    /* border:1.5px solid green ; */
    border: 1.5px solid #f7971d;
}

input[type=text] {
    color: white;
}

.uploadInput {
    width: 250px;
    border-radius: 10px;
    line-height: 2em;
    margin-bottom: 20px;
    padding: 5px;

}

.uploadForm {
    padding: 20px;
}

textarea {
    background-color: #212121;
    color: white;
    border: 1.5px solid black;
    resize: vertical;
}

textarea:focus {
    outline: none;
    /* border:1.5px solid green ; */
    border: 1.5px solid #f7971d;
}

.image {
    padding: 10px;
}

.dropzone {
    display: grid;
    color: white;
    border: 1.5px solid #f7971d;
    border-radius: 10px;
    background-color: #212121;
    padding: 10px;
}

.dropzone:hover {
    cursor: pointer;
}

.uploadSubmit {
    background-color: #212121;
    color: white;
    /* border: 1.5px solid green; */
    border: 1.5px solid #f7971d;
    max-width: 150px;
    padding: 10px;
    min-width: 100px;
    border-radius: 10px;
    margin-left: 75px;

}

.uploadSubmit:hover {
    background: #f7971d;
    box-shadow: 0 0 5px #f7971d, 0 0 25px #f7971d, 0 0 50px #f7971d, 0 0 100px #f7971d;
}