#root{
    height:100%;

}
.register{
    /* position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    display:flex;
    justify-content: center;
    /* background-color: white; */
    max-width: 350px;   
    margin:auto;
    margin-top: 5%;
    background-color: #2c2f34;
    border: 1.5px solid #f7971d;
    border-radius: 15px;
    padding:1%;
    font-size: 0.8em;
    padding-top: 10px;
    }

.container{
    width: 100%;
    /* background-color: #141518; */
    margin: 0px;
    color: white;
    text-align: center;
}

.logo{
    width: 100%;
    text-align: center;
    padding-top:3%;
    
}


label{
    margin-top: 5%;

}
.registerForm{
    margin: 8px 0 8px 0;
    padding: 10px;
    width:280px;
    border-radius: 10px;
    

}

input{
    background-color: #212121;
    color: white;
    border:1.5px solid black;
    line-height: 1em;

    
}
input:focus{
    outline: none;
    /* border:1.5px solid green ; */
    border:1.5px solid #f7971d ;
}
input[type=text]{
    color: white;
}
button{
    background-color: #212121;
    color: white;
    /* border: 1.5px solid green; */
    border: 1.5px solid #f7971d;
    max-width: 100px;
}
button:hover{
    background-color: #f7971d;
    /* background-color: green; */
    color: black;
    cursor: pointer;

}

::placeholder{
    color: white;
}
a{
    color:white;
    

}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
    
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }
  .signIn{
    margin-left:60px;
    padding: 10px;
    border-radius: 10px;
  }
  .signIn:hover{
    border: 1.5px solid #f7971d;
    /* border: 1.5px solid green; */
  }

  .recoverPassword{
    margin-bottom: 10px;
    text-align: right;
    font-size: 10px;
    margin-right: 12px;
  }
  .recoverPassword:hover{
    color:#f7971d;
  }
  .Recover{
    font-size: 1.5em;

  }

  .terms{
    /* color: green; */
    color: #f7971d;
  }
